body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(58, 58, 58);
  color: beige;
  letter-spacing: .2em;
}

h1 {
  font-size: 50px;
  letter-spacing: .5em;
  text-align: center;
}

h5 {
  text-align: center;
  margin-left: 440px;
}

span {
  display: block;
  margin: 20px;
}

.card {
  width: 350px;
  margin: 30px;
  text-align: center;
  background-color: rgb(24, 24, 24);
  border-radius: 20px;
  padding-bottom: 10px;
  box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.527);
  display: inline-block;
}

.ams {
  width: 350px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.ss {
  width: 350px;
  height: 468px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
